.SearchArea {
  padding: 1rem;
}
.InputField {
  width: 15rem;
  height: 2rem;
  border: 2px solid black;
  font-size: 15px;
}

.InputField:focus {
  outline: none;
  background-color: rgb(218, 214, 214);
}

.InputField::placeholder {
  font-size: 15px;
  text-align: center;
}

.SearchAreaButton {
  border-left: none;
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background: none;
  font-size: 15px;
  height: 38px;
  background-color: rgb(230, 166, 47);
}
